
<h1>11. En cliquant sur le lien « details », l’utilisateur sera redirigé vers une nouvelle vue
« showAuthor.html.twig » affichant le nom, photo, email et le nombre des livres de
l’auteur.</h1>

<h3>ce question n'est pas résolue </h3>

<h4>Je m'excuse M.Amir si ma réponse précédente ne correspondait pas à votre attente.</h4>

